In [1]:
## Import Libraries
import pandas as pd
import numpy as np
import csv


pd.set_option("max_colwidth", None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv("C:/Users/bag22/Desktop/current_files/python_files/ebbert_lab/data/2022-07-14_cDNA_data_ebbert_lab_nextflow_pipeline_output_raw/ONT_only_data/CHM13_good_ONT/bambu_discovery/extended_annotations.gtf",
        sep="\t", names=["chr", "source", "type", "start", "end", "dot_1", "strand", "dot_2", "other"])

In [12]:
df_maob = df.loc[df["other"].str.contains("ENSG00000069535")]

In [13]:
df_maob.to_csv("C:/Users/bag22/Desktop/maob_annotation_extended.gtf", sep="\t", header=False, index=False, quoting=csv.QUOTE_NONE)

In [15]:
df_maob.loc[df_maob["other"].str.contains("tx.762")]

,chr,source,type,start,end,dot_1,strand,dot_2,other
1636831,chrX,Bambu,transcript,43261879,43288616,.,-,.,"gene_id ""ENSG00000069535.14""; transcript_id ""tx.762"";"
1636832,chrX,Bambu,exon,43261879,43262224,.,-,.,"gene_id ""ENSG00000069535.14""; transcript_id ""tx.762""; exon_number ""2"";"
1636833,chrX,Bambu,exon,43288451,43288616,.,-,.,"gene_id ""ENSG00000069535.14""; transcript_id ""tx.762""; exon_number ""1"";"

In [21]:
df_counts = pd.read_csv("C:/Users/bag22/Desktop/current_files/python_files/ebbert_lab/data/2022-07-14_cDNA_data_ebbert_lab_nextflow_pipeline_output_raw/ONT_only_data/CHM13_good_ONT/bambu_discovery/counts_transcript.txt",
        sep="\t", names=["TXNAME", "GENEID", "sample_PAM54788",
                         "sample_PAM54335", "sample_PAM54401", "sample_PAM54902"], low_memory=False)

In [22]:
df_counts.loc[df_counts["TXNAME"] == "tx.762"]

,TXNAME,GENEID,sample_PAM54788,sample_PAM54335,sample_PAM54401,sample_PAM54902
762,tx.762,ENSG00000069535.14,166.046954719697,125.439755805158,101,413.449060191542